@charset "UTF-8";
/* Common styles */
footer .footer-info .main-info .contact-form, footer .footer-info .main-info .contact-info .footer-message, footer .footer-info .main-info .contact-info, footer .footer-info .main-info, footer .footer-info, footer, .client-section, .latest-work .work-container .work-card .card-content, .latest-work .work-container .work-card, .latest-work .work-container, .latest-work .latestwork-title, .latest-work, .skill-section, .logo-section .logos, .logo-section, header .header-content .portfolio-header .headline, header .header-content .portfolio-header, header .header-content, nav .nav-menu, nav .nav-logo .logo-text, nav .nav-logo {
  color: var(--Black, #2D2D2D);
  font-family: "Epilogue";
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  height: 80px;
  padding: 25px 50px;
  align-items: flex-start;
  gap: 870px;
}
nav .nav-logo {
  display: flex;
  width: 49px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
nav .nav-logo .logo-text {
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 700px) {
  nav .nav-logo::before {
    content: url("../assets/hero/Menu.svg");
    margin-right: 10px;
  }
}
nav .nav-menu {
  display: flex;
  width: 261px;
  height: 28px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav .nav-menu .about,
nav .nav-menu .work,
nav .nav-menu .contact {
  font-size: 17px;
  line-height: 28px;
}
@media only screen and (max-width: 700px) {
  nav .nav-menu .about,
  nav .nav-menu .work,
  nav .nav-menu .contact {
    display: none;
  }
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
header .header-content {
  display: flex;
  width: 1080px;
  align-items: center;
  gap: 28px;
}
header .header-content .portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
header .header-content .portfolio-header .headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
header .header-content .portfolio-header .headline .brand {
  width: 557px;
  font-size: 20px;
  line-height: 30px;
}
header .header-content .portfolio-header .headline .portfolio-title {
  width: 557px;
  font-size: 80px;
  line-height: 90px;
}
header .header-content .portfolio-header .text {
  font-size: 17px;
  line-height: 27px;
}
header .header-content .hero-image {
  width: 495px;
  height: 424px;
  flex-shrink: 0;
}

/* Logo Section */
.logo-section {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 0px 66px;
  align-items: center;
  gap: 10px;
}
.logo-section .logos {
  display: flex;
  width: 1078px;
  padding: 60px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.logo-section .logos .logo img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 700px) {
  .logo-section .logos {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Skill Section */
.skill-section {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 180px 140px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.skill-section .skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
}
.skill-section .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.skill-section .skill .skill-image {
  width: 130px;
  height: 130px;
}
.skill-section .skill .skill-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}
.skill-section .skill .skill-content .skill-title,
.skill-section .skill .skill-content .skill-description {
  text-align: center;
  width: 249.899px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.skill-section .skill .skill-content .skill-title.skill-title,
.skill-section .skill .skill-content .skill-description.skill-title {
  font-size: 27px;
  font-weight: 600;
  line-height: 42px;
}

/* Latest Work */
.latest-work {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 20px 100px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.latest-work .latestwork-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}
.latest-work .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px;
}
.latest-work .work-container .work-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.latest-work .work-container .work-card .card-image {
  width: 315px;
  height: 315px;
}
.latest-work .work-container .work-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.latest-work .work-container .work-card .card-content .card-title,
.latest-work .work-container .work-card .card-content .card-description {
  width: 315px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.latest-work .work-container .work-card .card-content .card-description {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

/* Client Section */
.client-section {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 100px 100px 150px 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.client-section .client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}
.client-section .client-container .client-container-title {
  width: 113px;
  height: 26.979px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.client-section .client-container .client-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 67.5px;
}
.client-section .client-container .client-card-container .client-card {
  display: flex;
  width: 315px;
  padding: 30px 50px 30px 30px;
  align-items: flex-start;
  gap: 10px;
}
.client-section .client-container .client-card-container .client-card .client-card-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-work-description {
  width: 263px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .client-image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #D8D8D8;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .rate .rate-stars {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .rate .rate-stars .star {
  width: 20px;
  height: 21px;
  position: relative;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .rate .rate-stars .star:before {
  content: "★";
  position: absolute;
  color: #2D2D2D;
}
.client-section .client-container .client-card-container .client-card .client-card-inner .client-info .rate .rate-text {
  width: 193px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background-color: #fff;
  padding: 0px 100px 70px 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .footer-info {
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
footer .footer-info .main-info {
  display: flex;
  align-items: flex-start;
  gap: 190px;
}
footer .footer-info .main-info .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
footer .footer-info .main-info .contact-info .footer-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
footer .footer-info .main-info .contact-info .footer-message .message-title {
  width: 360px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}
footer .footer-info .main-info .contact-info .footer-message .message-description {
  font-family: Epilogue;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
footer .footer-info .main-info .contact-info .social {
  width: 232px;
  height: 36px;
}
footer .footer-info .main-info .contact-info .social .icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
footer .footer-info .main-info .contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
footer .footer-info .main-info .contact-form .text-feild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
footer .footer-info .main-info .contact-form .text-feild .input-field {
  display: flex;
  width: 530px;
  padding: 21px 30px;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-info .main-info .contact-form .submit-button {
  display: flex;
  padding: 25px 82px;
  align-items: flex-start;
  gap: 10px;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 700px) {
  footer .footer-info .main-info {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */